body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.Contact_lastDiv {
  background: #785086;
  height: 350px;
  position: relative;
}
.Contact_footer_upcloud {
  display: flex;
  justify-content: flex-start;
  color: black;
  font-weight: 600;
  font-size: 20px;
  padding: 20px;
  position: absolute;
  padding-bottom: 0;
  /* margin-left: 5%; */
  bottom: 0;
  margin-bottom: 0;
}
/* mobile */
@media screen and (max-width: 480px) {
  .Contact_footer_upcloud {
    display: flex;
    justify-content: flex-start;
    color: black;
    font-weight: 600;
    font-size: 14px;
    padding: 20px;
    position: absolute;
    padding-bottom: 0;
    /* margin-left: 5%; */
    bottom: 0;
    margin-bottom: 0;
  }
}
